@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  font-family: 'Outfit', sans-serif;
}

header .container, header .container .main-content > div, header .container .main-content > div p, main .container, main .container .answers, main .container .answers .form-check label, .register .container, .register .container form, .register .container form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container {
  justify-content: space-between;
  padding: clamp(1.25rem, calc(0.8333rem + 1.6667vw), 2.1875rem) 0;
  margin-bottom: clamp(0.625rem, calc(-0.4861rem + 4.4444vw), 3.125rem);
  gap: 20px;
}
@media (max-width: 767.98px) {
  header .container {
    flex-direction: column;
  }
}
header .container .main-content h1 {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.5625rem, calc(1.1458rem + 1.6667vw), 2.5rem);
  line-height: clamp(1.375rem, calc(0.5972rem + 3.1111vw), 3.125rem);
  text-align: center;
  margin-bottom: 20px;
}
header .container .main-content > div {
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 575.98px) {
  header .container .main-content > div {
    flex-direction: column;
  }
}
header .container .main-content > div p {
  gap: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  margin: 0;
}
header .container .main-content > div p select {
  max-width: 70px;
  border-radius: 50px;
}
header .container .main-content > div form {
  position: relative;
}
header .container .main-content > div form input {
  border: 1px solid #000;
  border-radius: 50px;
  font-weight: 300;
  font-size: 19px;
  line-height: 32px;
  text-align: left;
  padding: 3px 15px;
  max-width: clamp(14.375rem, calc(13.8194rem + 2.2222vw), 15.625rem);
}
header .container .main-content > div form button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  border: none;
  background-color: transparent;
  font-size: 23px;
}
header .container .progress-parent h3 {
  font-style: normal;
  font-weight: 300;
  font-size: clamp(1.5rem, calc(1.3333rem + 0.6667vw), 1.875rem);
  line-height: clamp(1.875rem, calc(1.3194rem + 2.2222vw), 3.125rem);
  text-align: center;
}
header .container .progress-parent h3 span:last-child {
  font-weight: 500;
}
header .container a {
  font-size: 40px;
  color: black;
  text-decoration: none;
}

input:focus, select:focus {
  border: none;
  outline: 2px solid #FFC719;
}

main {
  margin-bottom: 50px;
}
main .container {
  flex-direction: column;
  gap: 50px;
  align-items: start;
}
main .container .question {
  width: 100%;
}
main .container .question h1 {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.0625rem, calc(0.5903rem + 1.8889vw), 2.125rem);
  line-height: clamp(1.25rem, calc(0.4167rem + 3.3333vw), 3.125rem);
}
@media (max-width: 575.98px) {
  main .container .question h1 {
    text-align: center;
  }
}
main .container .answers {
  gap: clamp(0.4375rem, calc(0.2153rem + 0.8889vw), 0.9375rem);
  margin-top: 15px;
}
main .container .answers .checked {
  display: none;
}
main .container .answers .form-check {
  transition: all .3s ease-out;
  padding-left: 3px;
}
main .container .answers .form-check input {
  opacity: 0;
}
main .container .answers .form-check label {
  flex-direction: column;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.8125rem, calc(0.7569rem + 0.2222vw), 0.9375rem);
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}
main .container .answers .form-check img {
  width: clamp(3.125rem, calc(1.7361rem + 5.5556vw), 6.25rem);
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.loader .container img:first-child {
  max-width: clamp(18.75rem, calc(14.5833rem + 16.6667vw), 28.125rem);
}
.loader .container .progress {
  width: 100%;
  max-width: clamp(18.75rem, calc(15.4167rem + 13.3333vw), 26.25rem);
}
.loader .container h2 {
  font-size: clamp(1.125rem, calc(0.7361rem + 1.5556vw), 2rem);
}

.progress {
  border-radius: 50px;
  max-height: 10px;
}
.progress .progress-bar {
  background-color: #FFC719 !important;
}

.register .container {
  min-height: 100vh;
}
.register .container h1 {
  color: #c01e2e;
}
.register .container form {
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: clamp(0.9375rem, calc(0.6597rem + 1.1111vw), 1.5625rem);
  border-radius: 25px;
  backdrop-filter: blur(15px);
  position: relative;
  padding-top: 40px;
  background: #ffffff14;
}
.register .container form input:focus {
  border: 0px;
  outline: 2px solid #c01e2e !important;
}
.register .container form img {
  position: absolute;
  top: -50px;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  left: 50%;
  transform: translateX(-50%);
}
.register .container form input:not([type="checkbox"]) {
  font-size: clamp(1.1875rem, calc(1.0208rem + 0.6667vw), 1.5625rem);
  padding: clamp(0.5rem, calc(0.4444rem + 0.2222vw), 0.625rem) clamp(0.9375rem, calc(0.7986rem + 0.5556vw), 1.25rem);
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.register .container form > div {
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  padding: 0 20px;
  color: #484848;
  font-size: clamp(0.875rem, calc(0.7639rem + 0.4444vw), 1.125rem);
}
.register .container form > div a {
  color: #484848;
}
.register .container form button {
  font-size: clamp(1.1875rem, calc(1.0208rem + 0.6667vw), 1.5625rem);
  font-weight: 600;
  padding: clamp(0.3125rem, calc(0.1736rem + 0.5556vw), 0.625rem) clamp(3.75rem, calc(1.8056rem + 7.7778vw), 8.125rem);
  border-radius: 50px;
  border: 2px solid #c01e2e;
  background: #c01e2e;
  color: #fff;
  transition: all .3s ease-out;
}
.register .container form button:hover {
  background: transparent;
  color: #c01e2e;
}
.register .container form > a:last-child, .register .container form > a.switch, .register .container form span:last-child, .register .container form span.switch {
  color: #c01e2e;
  font-size: clamp(1.1875rem, calc(1.1042rem + 0.3333vw), 1.375rem);
  text-decoration: none;
}
.register .container form span, .register .container form span a {
  color: #c01e2e;
  font-size: clamp(1.1875rem, calc(1.1042rem + 0.3333vw), 1.375rem);
  text-decoration: none;
}
.register .container form span span, .register .container form span a span {
  color: #000;
}

#app-register {
  position: relative;
}
#app-register::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("/assets/img/bg-login.svg");
  z-index: -1;
  opacity: .1;
}

/*# sourceMappingURL=main.css.map */
